/*------------------------------------*\
  .ion-btn-style 
\*------------------------------------*/
:root {
   /* 검색 버튼 스타일 */
	--ion-color-search: #E1F0FF;
	--ion-color-search-rgb: 225,240,255;
	--ion-color-search-contrast: #1776E1;
	--ion-color-search-contrast-rgb: 23,118,225;
	--ion-color-search-shade: #c6d3e0;
	--ion-color-search-tint: #e4f2ff;
   /* 접수 버튼 스타일 */
   --ion-color-reception: #1776E1;
	--ion-color-reception-rgb: 23,118,225;
	--ion-color-reception-contrast: #ffffff;
	--ion-color-reception-contrast-rgb: 255,255,255;
	--ion-color-reception-shade: #1468c6;
	--ion-color-reception-tint: #2e84e4;
   /* 헤더 메뉴 스타일 */
   --ion-color-header-menu: none;
	--ion-color-header-menu-rgb: 0,0,0;
	--ion-color-header-menu-contrast: #333;
	--ion-color-header-menu-contrast-rgb: 333,333,333;
	--ion-color-header-menu-shade: none;
	--ion-color-header-menu-tint: none;
   /* cs관리 테이블 상세보기 버튼 */
   --ion-color-tablebtn: #f3f6f8;
	--ion-color-tablebtn-rgb: 243,246,248;
	--ion-color-tablebtn-contrast: #5e6278;
	--ion-color-tablebtn-contrast-rgb: 94,98,120;
	--ion-color-tablebtn-shade: #d6d8da;
	--ion-color-tablebtn-tint: #f4f7f9;
   /* 모달 캔슬버튼 */
   --ion-color-modal-cancel: #fff;
	--ion-color-modal-cancel-rgb: 255,255,255;
	--ion-color-modal-cancel-contrast: #1776E1;
	--ion-color-modal-cancel-contrast-rgb: 0,0,0;
	--ion-color-modal-cancel-shade: #1776E1;
	--ion-color-modal-cancel-tint: #1776E1;
   /* 모달 닫기 버튼 */
   --ion-color-modal-close: #E1F0FF;
	--ion-color-modal-close-rgb: 225,240,255;
	--ion-color-modal-close-contrast: #2077DA;
	--ion-color-modal-close-contrast-rgb: 32,119,218;
	--ion-color-modal-close-shade: #c6d3e0;
	--ion-color-modal-close-tint: #e4f2ff;
   /* 앱 바텀 탭 이전 버튼 */
   --ion-color-tab-back: #fff;
	--ion-color-tab-back-rgb: 255,255,255;
	--ion-color-tab-back-contrast: #000000;
	--ion-color-tab-back-contrast-rgb: 0,0,0;
	--ion-color-tab-back-shade: #e0e0e0;
	--ion-color-tab-back-tint: #ffffff;
}
/* 앱 바텀 탭 이전 버튼 */
.ion-color-tab-back {
	--ion-color-base: var(--ion-color-tab-back);
	--ion-color-base-rgb: var(--ion-color-tab-back-rgb);
	--ion-color-contrast: var(--ion-color-tab-back-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tab-back-contrast-rgb);
	--ion-color-shade: var(--ion-color-tab-back-shade);
	--ion-color-tint: var(--ion-color-tab-back-tint);
}
/* 검색 버튼 스타일 */
.ion-color-search {
   --box-shadow:none;
	--ion-color-base: var(--ion-color-search);
	--ion-color-base-rgb: var(--ion-color-search-rgb);
	--ion-color-contrast: var(--ion-color-search-contrast);
	--ion-color-contrast-rgb: var(--ion-color-search-contrast-rgb);
	--ion-color-shade: var(--ion-color-search-shade);
	--ion-color-tint: var(--ion-color-search-tint);
}
/* 접수 버튼 스타일 */
.ion-color-reception {
	--ion-color-base: var(--ion-color-reception);
	--ion-color-base-rgb: var(--ion-color-reception-rgb);
	--ion-color-contrast: var(--ion-color-reception-contrast);
	--ion-color-contrast-rgb: var(--ion-color-reception-contrast-rgb);
	--ion-color-shade: var(--ion-color-reception-shade);
	--ion-color-tint: var(--ion-color-reception-tint);
}
/* 헤더 메뉴 스타일 */
.ion-color-header-menu {
   --box-shadow: none;
	--ion-color-base: var(--ion-color-header-menu);
	--ion-color-base-rgb: var(--ion-color-header-menu-rgb);
	--ion-color-contrast: var(--ion-color-header-menu-contrast);
	--ion-color-contrast-rgb: var(--ion-color-header-menu-contrast-rgb);
	--ion-color-shade: var(--ion-color-header-menu-shade);
	--ion-color-tint: var(--ion-color-header-menu-tint);
}
/* cs관리 테이블 상세보기 버튼 */
.ion-color-tablebtn {
   --box-shadow:none;
	--ion-color-base: var(--ion-color-tablebtn);
	--ion-color-base-rgb: var(--ion-color-tablebtn-rgb);
	--ion-color-contrast: var(--ion-color-tablebtn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tablebtn-contrast-rgb);
	--ion-color-shade: var(--ion-color-tablebtn-shade);
	--ion-color-tint: var(--ion-color-tablebtn-tint);
}

/* 모달 캔슬버튼 */
.ion-color-modal-cancel {
   --box-shadow:none;
   width:12rem;
   height:12rem;
   height:4rem;
   --border-radius:6px;
	--ion-color-base: var(--ion-color-modal-cancel);
	--ion-color-base-rgb: var(--ion-color-modal-cancel-rgb);
	--ion-color-contrast: var(--ion-color-modal-cancel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-modal-cancel-contrast-rgb);
	--ion-color-shade: var(--ion-color-modal-cancel-shade);
	--ion-color-tint: var(--ion-color-modal-cancel-tint);
}
.ion-color-modal-save {
   width:12rem;
   height:12rem;
   height:4rem;
}
/* 모달 닫기 버튼 */
.ion-color-modal-close {
   width:4rem;
   height:4rem;
   font-size:1.6rem;
   --border-radius:100%;
   --padding-start:0;
   --padding-end:0;
   --box-shadow:none;
	--ion-color-base: var(--ion-color-modal-close);
	--ion-color-base-rgb: var(--ion-color-modal-close-rgb);
	--ion-color-contrast: var(--ion-color-modal-close-contrast);
	--ion-color-contrast-rgb: var(--ion-color-modal-close-contrast-rgb);
	--ion-color-shade: var(--ion-color-modal-close-shade);
	--ion-color-tint: var(--ion-color-modal-close-tint);
}

.ion-color-tab-back {
   --ion-color-base-rgb: var(--ion-color-tab-back-rgb);
	--ion-color-contrast: var(--ion-color-tab-back-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tab-back-contrast-rgb);
	--ion-color-shade: var(--ion-color-modal-close-shade);
	--ion-color-tint: var(--ion-color-tab-back-tint);
}