@import '../../style/common.css';

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.in-toolbar {
   --min-height:auto;
}
.header-layout {
   padding:0 5rem 0 2rem;
   justify-content: space-between;
   align-items: center;
}
   .header-layout__menus {
      gap:10rem;
   }
      .route-list {
         position:relative;
         gap:5rem;
      }
      .route-list::after {
         content:"";
         width:1px;
         height:100%;
         position:absolute;
         right:-5rem;
         top:0;
         background-color:#999;
      }
      .userMenu-list {
         gap:2.5rem;
         align-items: center;
      }